.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.logo {
  height: 1.7rem;
}

.menuContainer {
  display: flex;
}

.menu {
  margin-top: 1rem;
  margin-right: 1.5rem;
}
